<script>
  document.addEventListener('DOMContentLoaded', function () {
    const app = document.getElementById('root');
    const mainContent = document.getElementById('MainContent');
    const breadcrumbMain = document.getElementsByClassName('breadcrumb_main')[0]; // First .breadcrumb_main
    const richTextSection =document.querySelector('.shopify-section.section[id^="shopify-section-template"][id*="__rich_text_"]'); 
    // document.querySelector('[data-section-type="rich-text"], .shopify-section--rich-text'); // Common selectors for rich text

    if (mainContent && app) {
      if (richTextSection) {
        // If Rich Text section exists, insert after it
        richTextSection.parentNode.insertBefore(app, richTextSection.nextSibling);
      } else if (breadcrumbMain) {
        // Fallback to breadcrumb_main
        breadcrumbMain.parentNode.insertBefore(app, breadcrumbMain.nextSibling);
      } else {
        // Fallback: insert at top of mainContent
        mainContent.insertBefore(app, mainContent.firstChild);
      }
    }
  });
</script>

<div
  id="root"
  data-collection="{{ collection.handle }}"
  data-handle="{{ page.handle }}"
  data-page="{{ template.name }}"
  data-product-collection="{% for c in product.collections %}{{ c.handle }}{% unless forloop.last %},{% endunless %}{% endfor %}"
></div>
{{ 'index.css' | asset_url | stylesheet_tag }}
<script src="{{ 'index.js' | asset_url }}" defer></script>

{%- if collection -%}

  {%- if collection.handle == 'engagement-ring' and template.name == 'collection' -%}
    <script src="{{ 'collection.js' | asset_url }}" defer></script>
  {%- endif -%}
{%- endif -%}

{%- if product -%}
  {% assign collectionhandles = '' %}
  {%- for collection in product.collections -%}
    {% assign collectionhandles = collection.handle %}
  {%- endfor -%}

  {%- if collectionhandles == 'engagement-ring' -%}
    <script src="{{ 'ring-detail.js' | asset_url }}" defer></script>
  {%- endif -%}
{%- endif -%}


{% schema %}
{
  "name": "ring1 Builder",
  "target": "body",
  "settings": [
    {
      "type": "collection",
      "id": "ring_builder_collection_handle",
      "label": "Collection handle for Ring Builder"
    },
    {
      "type": "page",
      "id": "diamond_start_handle",
      "label": "Page handle for Start with Diamond"
    },
    {
      "type": "text",
      "id": "diamond_view_handle",
      "label": "Page handle for View Diamond"
    },
    {
      "type": "text",
      "id": "complete_ring_handle",
      "label": "Page handle for Complete Ring"
    },
    {
      "type": "text",
      "id": "compare_diamond_handle",
      "label": "Page handle for Compare Diamond"
    }
  ]
}
{% endschema %}

